<main class="content">
	<div class="container-fluid p-0">
		<div class="row">
			<div class="col-12 col-lg-8">
				<div class="card">
					<div class="card-header">
						<h1 class="h3 mt-2">Liste des étudiants</h1>
					</div>
					<div class="card-body">
						<table id="datatables-basic" class="table table-striped" style="width:100%">
							<thead>
								<tr>
									<th>Prénom</th>
									<th>Nom</th>
									<th>Date de naissance</th>
								</tr>
							</thead>
							<tbody>
							  <% @students.each do |i| %>
                  				<tr>
                    				<td><%= i.first_name %></td>
                    				<td><%= i.last_name %></td>
                    				<td><%= i.birth_date %></td>
                  				</tr>
                			  <% end %>
							</tbody>
						</table>
						<%= will_paginate @students, list_classes: %w(pagination justify-content-center) %>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
