<main class="content">
	<div class="container-fluid p-0">
		<div class="row">
			<div class="col-12 col-lg-10">
				<div class="card animated fadeIn">
					<div class="card-header">
						<h1 class="mb-3">Nouveau template</h1>
					</div>
						<div class="card-body">
						<%= render 'form', template: @template %>


						</div>
				</div>
				<%= link_to 'Back', templates_path %>
			</div>

		</div>
	</div>
</main>
