<footer class="footer">
	<div class="container-fluid">
		<div class="row text-muted">
			<div class="col-6 text-right">
				<p class="mb-0">
					&copy; 2018 - <a href="index.html" class="text-muted">AppStack</a>
				</p>
			</div>
		</div>
	</div>
</footer>
</div>

</div>
</div>