<main class="content">
		<div class="container-fluid p-0">
			<div class="row">
				<div class="col-12 col-lg-8">
					<div class="card animated fadeIn">
						<div class="card-header">
							<h1 class="h3 mt-2">Faire l'appel</h1>
						</div>
						<div class="card-body">						
							<table id="datatables-basic" class="table table-striped" style="width:100%">
								<thead>
									<tr>
										<th>Prénom</th>
										<th>Nom</th>
										<th>Présence</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>John</td>
										<td>Doe</td>
										<td><button class="btn btn-sm btn-outline-danger">Absent</button></td>
									</tr>
									<tr>
										<td>John</td>
										<td>Doe</td>
										<td><button class="btn btn-sm btn-outline-danger">Absent</button></td>
									</tr>
									<tr>
										<td>John</td>
										<td>Doe</td>
										<td><button class="btn btn-sm btn-outline-danger">Absent</button></td>
									</tr>
									<tr>
										<td>John</td>
										<td>Doe</td>
										<td><button class="btn btn-sm btn-outline-danger">Absent</button></td>
									</tr>
									<tr>
										<td>John</td>
										<td>Doe</td>
										<td><button class="btn btn-sm btn-danger">Absent</button><button class="btn btn-sm btn-outline-warning ml-1">Justifié</button></td>
									</tr>
									<tr>
										<td>John</td>
										<td>Doe</td>
										<td><button class="btn btn-sm btn-danger">Absent</button><button class="btn btn-sm btn-warning ml-1">Justifié</button></td>
									</tr>
									<tr>
										<td>John</td>
										<td>Doe</td>
										<td><button class="btn btn-sm btn-outline-danger">Absent</button></td>
									</tr>
									<tr>
										<td>John</td>
										<td>Doe</td>
										<td><button class="btn btn-sm btn-outline-danger">Absent</button></td>
									</tr>
									<tr>
										<td>John</td>
										<td>Doe</td>
										<td><button class="btn btn-sm btn-danger">Absent</button><button class="btn btn-sm btn-warning ml-1">Justifié</button></td>
									</tr>
									<tr>
										<td>John</td>
										<td>Doe</td>
										<td><button class="btn btn-sm btn-outline-danger">Absent</button></td>
									</tr>
								</tbody>
							</table>
							<button class="btn btn-lg btn-outline-secondary">+ Ajouter un élève</button>								
						</div>
						<div class="card-footer">							
							<h6>Absent(s): <strong>3</strong></h6>
							<button class="btn btn-lg btn-primary mt-2">Valider</button>
						</div>
					</div>
				</div>
				<!-- <div class="col-12 col-lg-4">
					<div class="card">
						<div class="card-header">
							<h1 class="h3 mt-2">Classe</h1>
						</div>
						<div class="card-body text-center">
							<h1 class="mt-3 mb-3">3eA</h1>
							<button class="btn btn-lg btn-outline-secondary">Importer une liste</button>
						</div>
					</div>
				</div> -->
			</div> <!-- ROW -->
		</div>
	</main>