<main class="content">
	<div class="container-fluid p-0">
		<div class="row">
			<div class="col-12 col-lg-12">
				<div class="card animated fadeIn">
					<div class="card-header">
						<h1 class="mb-3">Nouvelle séance</h1>
					</div>
						<div class="card-body">
						<%= render 'form', worksession: @worksession %>

						
						</div>
				</div>
				<%= link_to 'Back', worksessions_path %>
			</div>
			
		</div>
	</div>
</main>
